<launch>
  <!-- Arguments -->

  <!-- move base -->
  <include file="$(find robot_navigation)/launch/robot_lidar.launch"/>

  <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
  <include file="$(find cartographer_ros)/launch/rplidar_2d.launch"/>

  <include file="$(find mynt_eye_ros_wrapper)/launch/mynteye.launch"/>

  <!-- move_base -->
  <include file="$(find robot_navigation)/launch/move_base.launch">
  </include>
</launch>
